In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./ml_source_files/USA_Housing.csv')

In [3]:
df.head(3)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."

집값을 예측하는 모델   
   
y : 집값(price) - continuous data => regression   
x : income, house age, nums of rooms, nums of bedrooms

In [4]:
y = df['Price']
x = df.drop(['Price', 'Address'], axis = 1)

train test split   

train : 모델을 훈련하는데 사용하는 데이터   
test : 모델을 평가하는데 사용하는 데이터

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [6]:
# algorithm
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [8]:
# predict
preds = lr.predict(x_test)

In [10]:
# evaluation
from sklearn.metrics import r2_score
r2_score(y_test, preds)

0.9140776796654104

In [11]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
# MSE : sig(y- y_hat)**2
# RMSE : np.sqrt(MSE)
# MAE : sig(abs(y - y_hat))

In [12]:
print('MSE :', mean_squared_error(y_test, preds))
print('RMSE :', np.sqrt(mean_squared_error(y_test, preds)))
print('MAE :', mean_absolute_error(y_test, preds))

MSE : 10316913904.847265
RMSE : 101572.21029812862
MAE : 81878.53462271008