In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv('./ml_source_files/titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [40]:
df.isna().sum()/len(df)

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [41]:
df.drop('Cabin', axis=1, inplace=True)

In [42]:
df['Age'] = df.Age.fillna(df.Age.mean())

In [44]:
df.dropna(inplace=True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [46]:
y = df['Survived']
x = df.drop(['Survived', 'PassengerId', 'Name', 'Ticket'], axis=1)

In [47]:
x = pd.get_dummies(x)
x.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)
# stratify는 비율을 유지해라. 즉, 생존비율 38퍼센트를 유지해서 나누라는 거임.

In [49]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

from sklearn.ensemble import VotingClassifier

### votingclassifier

In [50]:
tree = DecisionTreeClassifier()
log = LogisticRegression()
knn = KNeighborsClassifier()
nb = GaussianNB()
svc = SVC(probability=True)

vote_h = VotingClassifier(estimators = [('log', log), ('tree', tree), ('knn', knn), ('nb', nb), ('svc', svc)], voting='hard')
vote_s = VotingClassifier(estimators = [('log', log), ('tree', tree), ('knn', knn), ('nb', nb), ('svc', svc)], voting='soft')

In [51]:
models = [tree, log, knn, nb, svc, vote_h, vote_s]

In [54]:
import warnings
warnings.filterwarnings(action='ignore')

In [55]:
for m in models:
    m.fit(x_train, y_train)
    acc = m.score(x_test, y_test)
    
    print(m.__class__.__name__, ':', acc)
    print('-'*30)

DecisionTreeClassifier : 0.9122807017543859
------------------------------
LogisticRegression : 0.956140350877193
------------------------------
KNeighborsClassifier : 0.9122807017543859
------------------------------
GaussianNB : 0.9385964912280702
------------------------------
SVC : 0.9298245614035088
------------------------------
VotingClassifier : 0.9385964912280702
------------------------------
VotingClassifier : 0.956140350877193
------------------------------

# 다른 데이터 사용 : breast cancer

In [62]:
from sklearn.datasets import load_breast_cancer
cancer = load_breast_cancer()
x = cancer.data
y = cancer.target
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [63]:
tree = DecisionTreeClassifier()
log = LogisticRegression()
knn = KNeighborsClassifier()
nb = GaussianNB()
svc = SVC(probability=True)

vote_h = VotingClassifier(estimators = [('log', log), ('tree', tree), ('knn', knn), ('nb', nb), ('svc', svc)], voting='hard')
vote_s = VotingClassifier(estimators = [('log', log), ('tree', tree), ('knn', knn), ('nb', nb), ('svc', svc)], voting='soft')

models = [tree, log, knn, nb, svc, vote_h, vote_s]

In [64]:
for m in models:
    m.fit(x_train, y_train)
    acc = m.score(x_test, y_test)
    
    print(m.__class__.__name__, ':', acc)
    print('-'*30)

DecisionTreeClassifier : 0.9035087719298246
------------------------------
LogisticRegression : 0.956140350877193
------------------------------
KNeighborsClassifier : 0.9122807017543859
------------------------------
GaussianNB : 0.9385964912280702
------------------------------
SVC : 0.9298245614035088
------------------------------
VotingClassifier : 0.9385964912280702
------------------------------
VotingClassifier : 0.956140350877193
------------------------------

# 다른 데이터 사용 : loan data

In [58]:
loans = pd.read_csv('./ml_source_files/loan_data.csv')
loans.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [59]:
y = loans['not.fully.paid']
x = loans.drop('not.fully.paid', axis=1)
x = pd.get_dummies(x)

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42, stratify=y)

In [ ]:
tree = DecisionTreeClassifier()
log = LogisticRegression()
knn = KNeighborsClassifier()
nb = GaussianNB()
svc = SVC(probability=True)

vote_h = VotingClassifier(estimators = [('log', log), ('tree', tree), ('knn', knn), ('nb', nb), ('svc', svc)], voting='hard')
vote_s = VotingClassifier(estimators = [('log', log), ('tree', tree), ('knn', knn), ('nb', nb), ('svc', svc)], voting='soft')

models = [tree, log, knn, nb, svc, vote_h, vote_s]

In [61]:
for m in models:
    m.fit(x_train, y_train)
    acc = m.score(x_test, y_test)
    
    print(m.__class__.__name__, ':', acc)
    print('-'*30)

DecisionTreeClassifier : 0.7343423799582464
------------------------------
LogisticRegression : 0.8387265135699373
------------------------------
KNeighborsClassifier : 0.8194154488517745
------------------------------
GaussianNB : 0.8288100208768268
------------------------------
SVC : 0.8397703549060542
------------------------------
VotingClassifier : 0.8392484342379958
------------------------------
VotingClassifier : 0.8387265135699373
------------------------------

### randomforest

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [29]:
rfc.fit(x_train, y_train)
rfc.score(x_test, y_test)

0.956140350877193

### adaboost

In [30]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier()
ada.fit(x_train, y_train)
ada.score(x_test, y_test)

0.956140350877193

### gradientboost

In [65]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(x_train, y_train)
gbc.score(x_test, y_test)

0.956140350877193

In [70]:
%pip install xgboost

Requirement already satisfied: xgboost in /opt/anaconda3/lib/python3.8/site-packages (1.5.2)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.19.2)
Note: you may need to restart the kernel to use updated packages.

In [71]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

XGBoostError:
XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed
    - vcomp140.dll or libgomp-1.dll for Windows
    - libomp.dylib for Mac OSX
    - libgomp.so for Linux and other UNIX-like OSes
    Mac OSX users: Run `brew install libomp` to install OpenMP runtime.

  * You are running 32-bit Python on a 64-bit OS

Error message(s): ["dlopen(/opt/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /opt/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)"]

In [72]:
xgb = XGBClassifier()
xgb.fit(x_train, y_train)
xgb.score(x_test, y_test)

NameError: name 'XGBClassifier' is not defined

In [ ]:
lgbm = LGBMClassifier()
lgbm.fit(x_train, y_train)
lgbm.score(x_test, y_test)

In [ ]:
catboost = CatBoostClassifier()
catboost.fit(x_train, y_train)
catboost.score(x_test, y_test)